<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nama_lengkap">
        <form action="#">
            <input type="text" name="nama" v-model = "name">
            <button @click.prevent="add">Add</button>
        </form>
        <ul >
            <li v-for="(user, index) in users">
                {{ user.name }}
                <button @click="edit(user, index)">Edit</button> ||
                <button @click="delete(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"> </script>
    <script>
        var vm = new Vue({
            el: '#nama_lengkap',
            data: {
                name: '',
                users: [{
                        'name': 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name': 'Ruby Purwanti',
                    },
                    {
                        'name': 'Faqih Muhammad',
                    },
                ],
                index: -1,
            },
            methods : {
                add : function(){
                    this.users.push({
                        'name': this.name
                    })
                    this.name = ''
                },
                edit : function(){

                },

                delete : function(){

                }
            }
        })
    
    </script>
</body>
</html>